<phpunit bootstrap="./tests/bootstrap.php">
  <testsuites>
    <testsuite name="CookieTests">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
	<coverage includeUncoveredFiles="true" processUncoveredFiles="true">
		<include>
			<directory suffix=".php">./src/</directory>
		</include>
	</coverage>
</phpunit>
